.slashone, .slashtwo, .slashthree {
    position: absolute;
    height: 67px;
    width: 3px;
    background-color: white;
    /* transform: skewY(-42deg);
    rotate(-42deg); */
    
}

.slashone {
    right: 30px;
    
}

.slashtwo {
    right: 42px
}

.slashthree {
    right: 54px
}

.slashtwo[dataison='true'] {
    right: 30vw;
    /* transform: rotate(-42deg); */
}

.slashthree[dataison='true'] {
    right: 61vw;
    /* transform: rotate(0deg) */
}

.contact, .work, .about {
    color: white;
    position: relative;
    transform: rotate(1zdeg);
    font-family: Playfair Display;
    font-size: 5vw

}

.about {
    position: relative;
    top: 1.7vw;
    right: 10vw
}

.work {
    top: -11.1vh;
    left: 10.5vw;
}

.contact {
    top: -6.5vh;
    right: -29vw;
}